/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body, 
html{
  width:100%;
  height:100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  
  
}    
.html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; 
}


:root{
  --bg-color: rgb(1,0,40);
  --text-color: #ffffff
}

.i{
  color:white;
}

/* styles.css */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #20b358;
}
.admission-open {
  position: fixed;
  width: 50px;
  height: 205px;
  bottom: 259px;
  right: 0px;
  background-color: #6e1b1b;
  color: #FFF;
  border-radius: 20px 0px 0px 20px;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.admission-open:hover {
  transform: scale(1.1);
  background-color: #3e0000;
}

.rotated-text {
  display: inline-block;
  transform: rotate(-90deg); /* Rotate the text by -90 degrees */
  transform-origin: center; /* Rotate around the center */
  white-space: nowrap; /* Prevent line breaks */
}



.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    height:49rem;
    text-align: center;
    font-size: 18px;
}

/* #contact-form{
  height:10rem;
  font-size: 1rem;
  padding:0rem 0rem 0rem 0rem;
}
 */

.popup-content h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--bg-color);
}

label {
  display: block; 
  text-align: left;
  margin-bottom: 10px; 
  font-weight: bold;
  color: var(--bg-color);
  font-size: 1rem;
}


.close {
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  font-size: 44px;
  color:
   #999;
}

.close:hover {
  color: #ff0000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea,
.submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  font-size: 1rem;
  background: var(--grey2);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' d='M6 9l4-5H2z'/%3E%3C/svg%3E");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.submit {
  background-color: var(--bg-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  padding: 20px;
}

.submit:hover {
  background-color: #0056b3;
}



/* navbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background:var(--bg-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  border-radius: 0px 0px 25px 25px;
}

.logo{
  display: flex;
}
.logo img{
  margin-top: 5%;
  height: 6vh;
  width: 7vh;

  margin-left: 2%;
}
.navbar p{
  font-size: 1.5rem;
  margin-top: 2%;
  margin-left: 10%;
  color: #fff;
}
nav .navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-left: 40%;
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  margin-left: -8%;
  gap: 2rem;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li:hover {
  background-color:var(--bg-color);
}

nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: -40px;
  line-height: 40px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(244, 239, 239, 0.1);
}
.navbar .links li .sub-menu a{
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu :hover{
color:white;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;

}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: var(--bg-color) ;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background:  var(--bg-color);
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--text-color);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    position: relative;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}


/* ----------------------------------------------------- */

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

/* SECTION - HOME */

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
 
  overflow: hidden;
 margin:-17rem 0rem 0rem -49rem;
 
 /* Align the left edge with the viewport */
  width: 106rem; /* Ensures it spans the full width of the viewport */
  height: 102rem; /* Ensures it spans the full height of the viewport */
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin: -69rem 0rem 0rem -31rem;
  height:3rem;
  width:8rem;
  /* position: absolute; */
}

.item {
  max-width: 120px;
  aspect-ratio: 1/1;
  /* box-shadow: 0 4px 4px rgb(80, 77, 77),
    inset 0px 2px 2px rgb(0, 0, 0); */
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
  margin-top: 0.5rem;
}

.item:nth-child(2) {
  border-radius: 50% 50% 50% 0%;
}

.item:nth-child(3) {
  background-color: #7da0ca;;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 50% 0% 50% 50%;
}

.item:nth-child(6) {
  background-color: #b8e2f4;
  border-radius: 0 49% 0% 50%;
}

.item:nth-child(7) {
  border-radius: 0% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #58afdd;
  border-radius: 50% 54% 54% 0%;
  margin-top: 0.8rem;
}

.item:nth-child(9) {
  background-color: #90cbf9;
  border-radius: 0% 50% 0% 0%;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #7da0ca;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 0% 49% 48% 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ------------------------------------------------------------- */

/* home main */


.main_home {
  width: 100%;
  height: 30rem;
  background: rgb(1, 0, 40);
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Arial;
  margin: 3rem 0rem 0rem 0rem;
}

.main_heading{
  margin-top: 5%;
  margin-left: 56%;
  padding-top: 2rem;
}
.main_home img{
  width: 24vh;
  height: 16vh;
  border-radius: 12%;
  margin-top: -1%;
}

.main_home h1 {
  font-size: 40px;
  animation: slide-in 1s ease-out;
  animation-fill-mode: forwards;
  /* opacity: 0; */
  transform: translateY(-100%);
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main_home p {
  font-size: 1.2rem;
  width: 78%;
  text-align: justify;
  animation: slide-in 1s ease-out;
  animation-fill-mode: forwards;
  /* opacity: 0; */
  transform: translateY(-100%);
}

.signup {
  --color: white;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  margin-top:1rem;
 }
 
 .signup::before, .signup::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .signup::before {
  top: -1em;
  left: -1em;
 }
 
 .signup::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .signup:hover::before, .signup:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .signup:hover {
  color: rgb(10, 25, 30);
 }
 
 .signup:active {
  filter: brightness(.8);
 }
 

/* slider */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7)); }
}

.slider {
	display: flex;
	height: auto;
	justify-content: center;
	margin-bottom:3%;
	overflow: hidden;
	position: relative;
	width: 50rem;
  margin: -87rem 0rem 2rem 0rem;
}

.slider::before,
.slider::after {
	content: "";
	position: absolute;
	width: 30rem;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(175px * 14);
  gap: 3rem;
}

.slider .sliding {
	width: 7rem;
}
.slider img {
  width: 15vh;
  height: 10vh;
}

/* info container */

.info_container{
  margin-top: -25%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.info_container h1{
  margin-bottom: 5%;
  font-size: 2.5rem;
  color: var(--bg-color);
}
.info_container p{
  font-size:1.5rem;
  text-align: justify;
  margin:1rem -11rem 0rem -9rem;
}


/* ----------------- */
/* why */
/* ----------------------- */
/* brush section */
.hero{
  position:relative;
  height:150vh;
  background: linear-gradient(90deg, rgba(1, 0, 40, 0.843) 0%, rgb(1,0,40, 0.843) 46%, rgb(1,0,40,0.843) 100%), url("https://images.unsplash.com/photo-1527891751199-7225231a68dd?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat:no-repeat !important;
  background-position: center left;
  background-size: cover !important;

}

.hero h1{
  margin-top: 12%;
  margin-left: 22%;
   
  color: #FFF;
  font-size: 2.5rem;
  position: absolute;
  text-align: center;
}

.white{
  color:#fff;
}

.brush-top{
  position:absolute;
  top:0px; 
  left:0;
  width:100%;
}

.brush-bottom{
  position:absolute;
  bottom:0px; 
  left:0;
  width:100%;
}


/* -------glance------------ */
.glance {
    margin: 20rem 0rem 0rem 0rem;
}

#glance-h2 {
    color: var(--bg-color);
    font-size: 3rem;
    margin: -44rem 0rem 0rem 30rem;
}

.main-glance {
    width: 100%;
    margin: 0 auto;
}

.card_text .note{
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.6rem;
    line-height: 2rem;
}

#card-text-h2 {
    margin: 2rem 0rem 2rem 0rem;
    font-size: 2rem;

    
}

#card-text-h6 {
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    
}

#card-text-p {
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.6rem;
    line-height: 2rem;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    height: calc(13*1.2rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.card_image:before,
.card_image:after {
    content: "";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: #e6e6e6b8;
    transform: rotate(45deg);
}

.card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1.25));
}

.card {
    width: 93%;
    height: 49rem;
    margin: 1rem 0rem 0rem 3rem;
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#0000 0 calc(2rem - 1px), #66afe1 0 2rem) right bottom /100% 100%, linear-gradient(rgb(0, 21, 104) 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;
}

.card_content {
    padding: 1.2rem;
}

h2.card_title, p {
    margin: 1.2rem 0;
}

h2.card_title {
    font-size: 2rem;
}


/* -----------------scroll--------- */
.red {
    background-color: var(--bg-color);
}

#red h2 {
    color: rgb(0, 153, 255);
    font-size: 3rem;
    margin: -13rem -17rem 0rem -27rem;
}

.red-img {

    overflow: hidden;
    /* Ensure the image stays within its container */
}

.red-img img {
    width: 17rem;
    height: 19rem;
    margin: 0rem 22rem 0rem 46rem;
    animation: imageAnimation 1s ease-in-out infinite alternate;
}
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}

.red ul li {
    color: white;
    margin: 0rem 0rem 0rem -44rem;
    line-height: 3rem;
    font-size: 1.6rem;
}

.red ul {
    margin-top: 3rem;
    margin-left: -69rem;
    margin-right: -5rem;
}

.blue {
    background-color: white;
}

.blue h2{
    font-size: 2rem;
    color:rgb(0, 153, 255);
    margin-left: 3rem;
    text-align: center;
}
.green h2{
    font-size: 2rem;
    color: rgb(0, 153, 255);
    text-align: center;
    margin-left: 1rem;
}


.blue p{
    font-size: 1.6rem;
    color: var(--bg-color);
    margin: -1rem 5rem 0rem 4rem;
    text-align: justify;
    line-height: 2.6rem;
}
.green #green-p{
    font-size: 1.5rem;
    color: white;
    margin: -1rem 5rem 0rem 4rem;
    text-align: justify;
    line-height: 2.6rem;
    font:100;
}

.green {
    background-color: var(--bg-color);
}

.scroll-snap-card {
    height: 450px;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin: 8rem 0rem 6rem 0rem;
    scrollbar-color: rgb(0, 153, 255) transparent;
    /* For Firefox */
}

/* Style for WebKit Browsers */

.scroll-snap-card::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the scrollbar track */
}

.scroll-snap-card .slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.scroll-snap-card .slide p {
    font-size: 1em;
    color: white;
    font-weight: 700;
} */


.button-container {
    /* text-align: center; */
    gap:3rem;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: -97px;
    margin-top: 9rem;
}
.button-container button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: var(--bg-color);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label {
    position: relative;
    top: -1px;
  }
  
  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgb(25, 149, 195);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button:hover .transition {
    width: 14em;
    height: 14em;
  }
  
  button:active {
    transform: scale(0.97);
  }
  



/* -------------process----------- */

@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.process {
  
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

.process h1 { 
  text-align: center;
  margin:0rem 0rem 0rem 2rem ;
  font-size: 3rem;
  color:var(--bg-color)
 
}

.process ol {
  width: min(77rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 13rem;
  list-style: none;
  counter-reset: stepnr;
}

.process li:nth-child(6n + 1) { --accent-color: #b8df4e }
.process li:nth-child(6n + 2) { --accent-color: #4cbccb }
.process li:nth-child(6n + 3) { --accent-color: #7197d3 }
.process li:nth-child(6n + 4) { --accent-color: #ae78cb }
.process li:nth-child(6n + 5) { --accent-color: #7dc7a4 }
.process li:nth-child(6n + 6) { --accent-color: #f078c2 }

.process ol li {
  counter-increment: stepnr;
  width: 19rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
.process ol li::before,
.process ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
.process ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 9rem;
  padding-top: 0rem;
  font-size: 10rem;
  font-weight: 600;
  overflow: hidden;
}

.process ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(6, 28, 124, 0.75)) blur(5px);
}

.process ol li > * { width: 7.5rem }
.process ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
.process ol li .title { font-size: 2rem; font-weight: 500 }
.process ol li .descr { font-size: 1.1rem;
  font-weight: 500; }



/* contactus */

.container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;

}
.contactus-section svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.contactus-section form {
  min-width: 25rem;
}

.contactus-section .title {
   margin-left: 12%;
  color: #212529;
  font-size: 2.5rem;
}

.contactus-section .form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.contactus-section .form-control.thick {
  padding: 0.5rem 3.5rem;
  height: 3.3rem;
    padding: 1.5rem 3.5rem;
    margin-bottom: 4%;
}


.contactus-section .form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.contactus-section .message .form-control {
  padding: 0.5rem 4.6rem;
  margin-bottom: 3%;
}

.contactus-section ::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}

.contactus-section input,
.contactus-section textarea {
  font-family: 'Quicksand', sans-serif;
  color: #212529;
  font-size: 1.1rem;
}

.contactus-section .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 3.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  margin-left: 20%;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}


  /* ------------footer--------------- */
  
.footer {
  background-color: var(--bg-color);
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: aliceblue;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content img{
margin-top: 10%;
height: 11vh;
width: 12vh;
}
.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
color: #fff;
text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 20%;
  left: 3px;
  top: 11px;
  width: 20%;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 10px;
  width: 10px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 20%;
  left: 60px;
  top: 3px;
  width: 20%;
}

.footer-social-link.youtube {
  height: 20%;
  left: 123px;
  top: 12px;
  width: 20%;
}

.footer-social-link.github {
  height: 25%;
  left: 168px;
  top: 7px;
  width: 25%;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-wave-svg {
    height: 50px;
}

.footer-content-column {
    width: 24.99%;
}
}
@media (min-width: 568px) {
/* .footer-content-column {
    width: 49.99%;
} */
}